            body{
                background-color:#434744;
            }
            td{
                text-align:center;                
            }
            i{
                font-size:100px;
            }
            p{
                color:blanchedalmond;
                text-align:left;
                float:0px;
            }
            li{
                color:blanchedalmond;
            }
            .purplebg{
                background-color:#8636d1
            }
            .pinkbg{
                background-color:#c424c7
            }